.cart {
  padding: 100px 150px;
  justify-content: flex-start;
  align-items: flex-start;
}

.cart-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0 0;
  transition: transform 250ms;
}

.side-cart {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  position: fixed;
  top: 97px;
  right: 0;
  bottom: 0;
  min-width: 355px;
  border:1px solid #111b0d;
  background-color: rgb(254, 255, 251);
  transform: translateX(150%);
  transition: 0.5s ease-in;
} 

.side-cart-list {
  list-style: none;
  padding-left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.side-cart-list section {
  font-size: 18px;
  padding: 10px 0px;
  min-width: 300px;
  border-bottom :1px solid #111b0d;
}
.active-cart {
  transition: 0.5s ease-in;
  transform: translateX(0%);
}
.spinner {
  padding: 0px 58px !important;
}

.subtotal {
  align-self: flex-end;
}

.cart-table thead {
  border-bottom: 1px solid #111b0d;
}

.cart-table tbody {
  border-bottom: 1px solid #111b0d;
}

.cart-table th {
  padding: 20px 30px;
}
.cart-table td {
  padding: 20px 30px;


}

.th-prod {
  text-align: left;
  width: 100%;
}

.th-space {
  width: 20%;
  margin: 0;
}

.th-price {
  align-self: flex-end;
}
.th-quantity {
  align-self: flex-end;
}
.th-subtotal {
  width: 25%;
  text-align: left;
}

.cart-prod-img img{
  max-width: 130px;
  max-height: 110px;
}

.prod-title {
  width: 75%;
}

.cart-price {
  width: 15%;
}

.cart-table i{
  transition: transform 250ms;
}
.cart-table i:hover {
  transform: scale(1.2);
}

.prod-quantity {
  width: 15%;
}

@media screen and (max-width: 1300px){
  .cart-table th {
    padding: 20px 15px;
  }
  .spinner {
    padding: 0px 48px;
  }
}
@media screen and (max-width: 920px){
  .cart {
    padding: 100px 30px;
  }
  .spinner {
    padding: 0px 38px;
  }
}
@media screen and (max-width: 420px){
  .cart {
    padding: 150px 10px !important;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .spinner {
    padding: 0px 42px !important;
  }

  .subtotal th {
    font-size: 22px !important;
  }

  .cart-table th {
    padding: 10px 10px;
    font-size: 17px;
  }
  .cart-table td {
    padding: 10px 10px;
    font-size: 15px;
  }
  .cart-prod-img img{
    max-width: 70px;
    max-height: 50px;
  }
  .side-cart {
    top: 83px;
    width: 100%;
  }
  
}