.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 160px;
  align-items: center;
  background-color: rgba(206, 196, 175, 0.579);
  box-shadow: 0 1px 1px 0 rgba(208, 208, 208, 0.319), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  
}



.footer section {
  flex-wrap: wrap !important;
}

.info {
  padding: 20px 80px;
  align-items: flex-start;
}

.footer-title {
  width: 100%;
  padding: 20px;
  align-self: center;
  border-bottom: 1.2px solid rgba(150, 143, 127, 0.784);
}

.info h4 {
  padding: 20px;
}

.social {
  padding: 20px 80px;
}

.social i {
  padding: 10px;
  font-size: 22px;
}

@media screen and (max-width: 420px) {
  .footer section {
    flex-direction: column;
    justify-content: center;
   
  }
  .info {
    align-items: center;
  }
}