.pref-container {
  padding: 0px 120px 5px 120px;
}
/* cute color:
#Ce9e0e */

.pref-input {
  height: 100%;
  color: #111b0d99;
  padding-top: 20px;
  border-bottom: 1.5px solid#111b0d;
  border: none;
  border-radius: 4px;
  min-width: 300px;
  padding: 15px;
  margin: 15px;
  font-size: 17px;
  background-color: rgb(254, 255, 251);
  background: linear-gradient(to right, #111b0d, #111b0d),
    linear-gradient(to right, #4000ff, #323ffa, #bbff00);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  transition: 250ms ease-in-out;
}

.edit-address-btn {
  display: flex;
  justify-content: space-around;
  border: none;
  align-items: center;
  background-color: #a88984;
  border-radius: 10px;
  font-size: 12px;
  width: 30%;
  min-height: 20px;
  color: rgb(254, 255, 251);
  transition: all 250ms ease-in;
  animation: fadeIn 250ms ease-in;
}
.edit-address-btn:disabled {
  color: rgba(131, 133, 126, 0.885);
  background-color: #a88984d3;
}
.delete-address-btn {
  display: flex;
  justify-content: space-around;
  border: none;
  align-items: center;
  background-color: #70252f;
  border-radius: 10px;
  font-size: 12px;
  width: 30%;
  min-height: 20px;
  color: rgb(254, 255, 251);
  transition: all 250ms ease-in;
  animation: fadeIn 250ms ease-in;
}
.address-form-btns {
  padding: 5px 20px;
  min-width: 300px;
}
.address-form-btns button{
  min-width: 120px;
  padding: 10px;
}
.update-btn {
  display: flex;
  justify-content: space-around;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  width: 35%;
  min-height: 20px;
  align-items: center;
  color: rgb(254, 255, 251);
  background-color: #8d9972;
  transition: all 250ms ease-in;
}
.update-btn:disabled {
  color: rgb(192, 193, 190);
}
.cancel-update-btn {
  padding: 7px;
  border: 0;
  background-color: #75585c;
  border-radius: 7px;
  width: 40%;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
  transition: 0.2s ease-in;
  color: rgb(254, 255, 251);
  animation: fadeIn 1s ease-in;
}
.confirm-delete-btn {
  padding: 7px;
  border: 0;
  background-color: #70252f;
  border-radius: 7px;
  width: 40%;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
  transition: 0.2s ease-in;
  color: rgb(254, 255, 251);
  animation: fadeIn 1s ease-in;
}
.cancel-update-btn:hover {
  border-radius: 7px;
  transform: scale(1.05);
  transition: 0.2s ease-in;
}
.confirm-delete-btn:hover {
  border-radius: 7px;
  transform: scale(1.05);
  transition: 0.2s ease-in;
}
.update-address-btn {
  padding: 7px;
  border: 0;
  background-color: #91927b;
  width: 40;
  border-radius: 7px;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
  transition: 0.2s ease-in;
  color: rgb(254, 255, 251);
  animation: fadeIn 1s ease-in;
}
.update-address-btn:hover {
  border-radius: 7px;
  transform: scale(1.05);
  transition: 0.2s ease-in;
}
.address-form {
  justify-content: center;
  align-self: center;
  padding: 0px 20px;
  align-items: center;
  animation: fadeIn 0.8s ease-in;
}
.address-header {
  position: absolute;
  min-width: 350px;
  margin-bottom: 10px;
}
.address-title {
  opacity: 0.7;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
}
.other-address-header {
  position: absolute;
  top: 185px; 
  min-width: 350px;
  margin-bottom: 10px;
}
.address-container {
  display: flex;
  margin-bottom: 20px;
  border: 1.5px solid #241c02;
  border-radius: 10px;
  height: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.delete-address-container {
  width: 100%;
}
.delete-address-info {
  width: 100%;
  font-size: 20px;
  padding: 20px
}
.address-info {
  padding: 10px;
  min-width: 350px;
}

.popup {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #8f938d82;
  z-index: 999;
  animation: fadeIn 500ms ease-in-out;
}
.popup-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px;
  border-radius: 10px;
  background-color: rgb(254, 255, 251);
  animation: intro 300ms ease-in-out;
  
}
.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.pref-input:enabled {
  background-size: 0 0.1em, 100% 0.1em;
  color: #111b0d;
}
.pref-input:enabled:focus {
  box-shadow: 0 0px 0px 0 rgba(208, 208, 208, 0.319),
    0 5px 30px 0 rgba(0, 0, 0, 0.19);
}

.PhoneInput {
  background-size: 0 0.1em, 100% 0.1em;
}
.PhoneInput:focus {
  box-shadow: 0 0px 0px 0 rgba(208, 208, 208, 0.319),
    0 5px 30px 0 rgba(0, 0, 0, 0.19);
}
.PhoneInput--disabled {
  border-bottom: 1.5px solid#111b0d;
  background-size: 0 0.1em, 0% 0.1em;
}
@media screen and (max-width: 540px) {
  .popup {
    right: 0;
  }
  .popup-inner {
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
  .popup-inner h1 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 420px) {
  .pref-container {
    padding: 3px 10px;
  }
  .pref-container h4 {
    font-size: 20px;
  }
  .other-address-header {
    top: 187px;
  }
  .popup-inner {
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100%;
    max-width: 380px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .address-form {
    width: 100%;
  }
  .address-form-btns {
    padding-bottom: 30px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes intro {
  from { transform: translateY(5%); }
  to { transform: translateY(0%); }
}
