.product {
  padding: 0px 50px;
  animation: fadeIn 0.8s ease-in-out;
}

.product-details {
  width: 60%;
  align-items: flex-start;
  padding: 0px 20px;
  animation: intro 0.8s ease-in-out;
  
}

.buy-product {
  padding: 20px 0px 5px 0px;
}

.cart-icon {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}

.cart-icon:hover {
  width: 160px;
  height: 25px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.cart-icon:hover::after {
  color: white;
  content: "ADD TO CART";
  animation: 1.5s fadeIn;
  font-size: 17px;
  text-align: center;
}

.prod_img {
  align-self: center;
  padding: 0px 15px;
  min-height: 400px;
  max-height: 420px;
  min-width: 400px;
  max-width: 420px;
  animation: intro 0.8s ease-in-out;
}

.add-to-cart-loader {
  padding: 20px 0px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media screen and (max-width: 420px) {

  .product {
    flex-direction: column;
    padding: 120px 10px !important;
    overflow-x: hidden;
  }
  .product-details {
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;
  }

  .prod_img {
    max-width: 380px;
    max-height: 400px;
  }
}

@keyframes intro {
  from { transform: translateY(20%); }
  to { transform: translateY(0%); }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}