.feed {
  align-self: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  animation: intro 0.8s ease-in-out;
}
.card {
  /* Add shadows to create the "card" effect */
  font-family: 'Helvetica Neue';
  font-weight: 300;
  text-align: center;
  border-radius: none;
  border: 1px solid #505050;
  margin: 20px;
  width: 350px;
  min-height: 440px;
  animation: fadeIn 1.8s;
  transition: 0.4s;
}

.card-image-container {
  height: 100%;
  z-index: -1;
}

.collection-header {
  padding: 10px 10px;
  animation: fadeIn 0.5s ease-in;
}

.card-image-container img {
  max-width: 350px;
}

.card h2 {
  font-weight: 400;
  padding: 5px;
  word-wrap: break-word;
  color: #505050;
}

.card p {
  word-wrap: break-word;
  padding: 10px;
  color: #505050;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
} 

@media screen and (max-width: 920px) {

}
@media screen and (max-width: 420px) {

}

@keyframes intro {
  from { transform: translateY(5%); }
  to { transform: translateY(0%); }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}