.register {
  padding-top: 140px;
  flex-direction: column;
  animation: fadeIn 0.6s ease-in;
}
.forms {
  justify-content: center;
  align-self: flex-start;
  padding: 0px 50px;
  align-items: center;
  animation: fadeIn 0.8s ease-in;
}

.log-in-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.billing-form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 50px;
}
.personal-info-overview {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  animation: fadeIn 0.8s ease-in;
  border: 1px solid#111b0d;
  border-radius: 7px;
  padding: 10px;

}
.billing-info-overview {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  animation: fadeIn 0.8s ease-in;
  border: 1px solid#111b0d;
  border-radius: 7px;
  padding: 10px;
}

.overview-container {
  display: flex;

  justify-content: space-around;
}

.form-container {
  display: flex;
  box-sizing: border-box;
}

.overview-header {
  animation: fadeIn 0.6s ease-in;
  padding: 0px 0px 50px 0px;
}

.overview-user-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1s ease-in;
}

.overview-strong {
  padding: 15px;
  font-size: 18px;
  min-width: 150px;
  max-width: 200px;
  word-wrap: break-word;
  margin: 10px 0px;
}

.overview-buttons {
  display: flex;
  justify-content: center;
  min-width: 300px;
  margin-top: 20px;
  animation: fadeIn 1.5s ease-in;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(7px, 32px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: rgb(87, 96, 78);
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.filled {
  transform: translate(5px, 18px) scale(0.8) !important;
  color: rgb(53, 72, 35) !important;
}

.input-container:focus-within label {
  transform: translate(5px, 18px) scale(0.8);
  color: rgb(53, 72, 35);
}

.sign-in {
  padding-top: 150px !important;
}

.register-desc {
  padding: 15px;
  font-size: 17px;
}

.validate {
  font-size: 16px;
  align-self: flex-start;
  padding-left: 11px;
  transition: 0.5s;
}
.forms-input {
  border: 1px solid #111b0d;
  border-radius: 7px;
  min-width: 400px;
  padding: 15px;
  margin: 15px;
  font-size: 17px;
  background-color: rgb(254, 255, 251);;
}
.country-input {
  min-width: 440px;
  padding: 20px;
  font-size: 17px;
  background-color: rgb(254, 255, 251);;
}
.PhoneInputInput {
  border: none;
  font-size: 17px;
  background-color: rgb(254, 255, 251);
  font-family: 'FS Elliot Web Greek';
  font-weight: 500;
  color: rgb(53, 72, 35);
}

.login-input {
  border: 1px solid #111b0d;
  border-radius: 7px;
  min-width: 350px;
  padding: 12px;
  font-size: 17px;
  margin: 10px 0px;
}

.forms-label {
  padding: 15px;
  margin: 10px 0px;
  font-size: 18px;
  min-width: 150px;
  text-align: left;
  align-self: flex-start;
} 
.login-label {
  padding: 15px;
  margin: 10px 0px;
  font-size: 18px;
  border:1px solid #111b0d;
  min-width: 150px;
  text-align: left;
  align-self: flex-start;
} 

.forms-input::placeholder {
  font-family: monospace;
  font-size: 14px;
}
.validation {
  justify-content: flex-start;
  align-items: flex-end;

  animation: 0.3s fadeIn;
}
.register-btn:disabled {
  padding: 7px;
  border: 0;
  background-color: #d0ceb8;
  border-radius: 4px;
  max-width: 400px;
  margin-top: 15px;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
  transition: 0.2s ease-in;
  color: #a2a7a0d5;
  transition: 0.2s ease-in;
}

.register-btn:enabled {
  padding: 7px;
  border: 0;
  background-color: #d3d0ae;
  border-radius: 4px;
  max-width: 400px;
  margin-top: 15px;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
  transition: 0.2s ease-in;
  color: #111b0d;
}

.register-btn:hover:enabled {
  color: #111b0d;
  transform: scale(1.05);
  transition: 0.2s ease-in;
}

.start-over-btn {
  padding: 7px;
  border: 0;
  background-color: #A19E84;
  border-radius: 7px;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
  transition: 0.2s ease-in;
  color: #111b0d;
}

.start-over-btn:hover {
  border-radius: 7px;
  transform: scale(1.05);
  transition: 0.2s ease-in;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@media screen and (max-width: 420px) {
  .form-container {
    flex-direction: column;
  }
  .register-desc {
    text-align: center;
  }
  .overview-header {
    padding: 10px;
  }
  .overview-container {
    min-width: 0;
  }
  .overview-user-data {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .personal-info-overview {
    margin: 0;
    padding: 20px 10px;
    width: 100%;
  }

  .personal-info-overview section {
    flex-direction: column;
    justify-content: center;
    width:100%;
    align-items: center;
  }
  .billing-info-overview section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .billing-info-overview {
    margin: 0;
    padding: 20px 10px;
  }
  .forms-label {
    min-width: 300px;
    text-align: left;
    margin: 10px 0px;
    border: none;
  }
  .overview-strong {
    min-width: 300px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid#111b0d;
  }
  
  .forms {
    padding: 20px 0px 0px 0px;
    max-width: 350px;
  }
  .billing-form {
    padding: 20px 0px 0px 0px;
    max-width: 350px;
  }
  .forms-input {
    min-width: 300px !important;
  }
  .country-input {
    min-width: 300px !important;
  }

  .register {
    padding-top: 160px !important;
  }
  .register-btn:enabled {
    font-size: 15px;
  }
}
@media screen and (max-width: 920px) {
  .form-container {
    flex-direction: column;
  }
  .register-desc {
    text-align: center;
  }
  .forms {
    padding: 20px 0px 0px 0px;
    max-width: 350px;
  }
  .billing-form {
    padding: 20px 0px 0px 0px;
    max-width: 350px;
  }
  .forms-input {
    min-width: 300px !important;
  }
  .country-input {
    min-width: 340px !important;
  }
  .register {
    padding-top: 140px !important;
  }
  .register-btn:enabled {
    font-size: 15px;
  }
}

@media screen and (max-width: 830px){
  .overview-user-data {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .personal-info-overview {
    margin: 0px 0px 40px 0px;
  }
  .billing-info-overview {
    margin: 0;
  }
}